@import './custom-variables';



.custom-datagrid_1{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.custom-datagrid_1 .column-selector-button{
  color: #13294B;
}
.button_header_1{
  font-size: 13px;
  color: #13294B;
}

.info{
    background-color:white;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.custom-page_1{
  background-color:#EFF1F4
}

.custom-color .column-selector-button{
  color: #13294B;
}


.custom-datagrid_3{
  background-color:white;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button_color1{
background-color: #47D7AC;
color: #06041F;
font-weight: 600;
}

.button-cancelbutton{
    color: #06041F;
    font-weight: 600;   
}

.pop_up_text{
  text-size:12px;
  color:#13294B;
}

