@import './custom-variables';

.sign-in{
    width: 320px;
}

.mint-green-color{
    background-color: #47D7AC;
    color: black;
}

.input-textboxs > .form-control{
    width:320px !important;
}

.logo{
    margin-bottom: 50%;
    margin-left: -17%;
}

.footer{
    font-size: 12px;
color: #8893A5;

}

.footer-container{
    top: 47%;
    position: relative;

}

.copyright{
    margin-left: 29%;
}
